body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  background-color: #3131da;
  color: #f73505;

  width: 100%;
  height: 110vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
}
